* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
}

.row {
    display: flex;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray-–-900: #1a1a1a;
    --gray-scale-gray-–-800: #333;
    --gray-scale-gray-–-700: #4d4d4d;
    --gray-scale-gray-–-600: #666;
    --gray-scale-gray-–-500: #808080;
    --gray-scale-gray-–-400: #999;
    --gray-scale-gray-–-300: rgba(179, 179, 179, 0.753);
    --gray-scale-gray-–-200: #cccccc;
    --gray-scale-gray-–-100: #e6e6e6;
    --gray-scale-gray-–-50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;

}
.add_to_icon{
    position: fixed !important;
    right: 30px ;
    bottom: 30px;
    z-index: 100;
    border: none;
    width: 60px;
    height: 50px;
    background: var(--branding-success);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add_to_icon:hover{
    background: var(--branding-success-bright);
}

body {
    font-family: var(--font-family);
    background-color: var(--gray-scale-white);
}

/* header part */

/* heading content one */

#header {
    box-shadow: 0 1px 0 0 #e5e5e5;
    background: var(--gray-scale-gray-–-800);
    color: var(--gray-scale-gray--300);
    padding: 13px 0;
}

#header .heading_one_content {
    display: flex;
    align-items: center;
}

#header .heading_one_content span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-scale-gray-–-300);
    margin-right: 8px;
}

#header .heading_one_content p {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray-–-300);
}

/* heading content two */
#header .heading_one_content_two span {
    color: #ffffff3b;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

#header .heading_one_content_two select {
    outline: none;
    border: 1px solid rgba(179, 179, 179, 0.353);
    margin-right: 20px;
    border-radius: 5px;
    background: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: var(--gray-scale-gray-–-300);

}

#header .heading_one_content_two .sign_in {
    display: flex;
    align-items: center;
    color: #ffffff3b;
}

#header .heading_one_content_two .sign_in a {
    text-align: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray-–-300);
}

/* header part end */

/* navbar */

/* part_1 */
#navbar {
    padding: 24px 0;
}

#navbar .row {
    justify-content: space-between;
    align-items: center;
}


#navbar .search_bar form {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar .search_bar form input {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 6px 0 0 6px;
    padding: 12px 18px 10px 50px;
    width: 80%;
}

#navbar .search_bar form input:focus {
    outline: none;
}

#navbar .search_bar form span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

#navbar .search_bar button {
    outline: none;
    border-radius: 0 6px 6px 0;
    padding: 15px 24px;
    background: var(--branding-success);
    border: none;
    display: inline-block;
    width: auto;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-scale-white);
}

#navbar .icons {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

#navbar .icons .first_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-scale-gray-–-900);
    margin-right: 10px;
}

#navbar .icons .second_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-scale-gray-–-900);
    margin-left: 10px;
}

#navbar .icons .count {
    position: relative;
}

#navbar .icons .count .number {
    position: absolute;
    top: -1px;
    right: -1px;
    border: 1px solid var(--gray-scale-white);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: var(--branding-success-dark);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: var(--gray-scale-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#navbar .icons .line {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--gray-scale-gray-–-200);
    width: 24px;
    height: 0px;
    transform: rotate(-90deg);
}

#navbar .icon_contain {
    display: flex;
    align-items: center;
    justify-content: end;
}

#navbar .contain p {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: var(--gray-scale-gray-–-700);
}

#navbar .contain b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 0;
}

/* part_1 end */

/* part_2 */
#navBar {
    background: var(--gray-scale-gray-–-50);
    padding: 0;
}

#navBar .row .first_button {
    display: inline-flex;
}

#navBar .container .row>* {
    width: auto;
}

#navBar .row .first_button button {
    background-color: #00B207;
    outline: none;
    border: none;
    border-radius: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
}

#navBar .row .first_button button span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

#navBar .row .first_button ul li a {
    padding: 10px 12px;
    color: var(--branding-success);
}

#navBar .row .other_buttons {
    display: inline-flex;
    align-items: center;
    padding: 0;
}

#navBar .row .other_buttons a {
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}

#navBar .row .home a {
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--branding-success);
}

#navBar .row .other_buttons ul li a {
    justify-content: left;
    padding: 10px 12px;
}

#navBar .row .other_buttons a span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#navBar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navBar .container .whatsapp_number {
    display: flex;
    align-items: center;
    justify-content: end;
}

#navBar .container .whatsapp_number span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    line-height: 0;
}

#navBar .container .whatsapp_number p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 0;
}

/* part_2 end */

#mobile_footer {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

#mobile_footer .row {
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
}

#mobile_footer .row div {
    padding: 10px 12px;
    text-align: center;
}

#mobile_footer .row div a {
    display: inline-block;
}

#mobile_footer .row div span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--branding-success);
}

#mobile_footer .row div a p {
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

#mobile_footer .row div a.active p {
    color: var(--branding-success);
}

/* Mobile footer end */


/* search body */

#search {
    width: 100%;
    height: 0;
    background-color: var(--gray-scale-gray-–-800);
    opacity: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 2;
    visibility: hidden;
    transition: 0.3s;
}

#search.active {
    visibility: visible;
    opacity: 0.8;
    height: 100vh;
}

#search .container {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search form {
    width: 90%;
    position: relative;
}

#search form input {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 15px;
}

#search form input:focus {
    outline: none;
    border: none;
}

#search form button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: var(--gray-scale-gray-–-900);
    position: absolute;
    width: 50px;
    top: 18%;
    right: 15px;
}

#search span {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    cursor: pointer;
}

/* search body end */

/* banner part */
#banner .row .contains h4 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--branding-success);
}

#banner .row .contains h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
}

#banner .row .contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#banner .row .contains a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--gray-scale-white);
    background-color: var(--branding-success);
    border-radius: 43px;
    padding: 16px 40px;
}

#banner .row .contains a:hover {
    background: transparent;
    color: var(--branding-success);
    outline: 1px solid var(--branding-success);
}

#banner .row .contains a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin-left: 16px;
}

#banner .slides {
    position: relative;
}

#banner .offer {
    position: absolute;
    top: 34%;
    left: 41%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: var(--branding-warning);
}

#banner .offer h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-white);
    margin-bottom: 0;
}

#banner .offer p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-scale-white);
    margin-bottom: 0;
}

#banner .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    outline: 1px solid var(--gren-gray-scale-100);
    background: var(--gray-scale-white);
}

#banner .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    outline: 1px solid var(--gren-gray-scale-100);
    background: var(--gray-scale-white);
}

#banner .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

#banner .slick-dots li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#banner .slick-dots li button {
    color: transparent;
    background: var(--gren-gray-scale-200);
    width: 10px;
    height: 10px;
    border: none;
    margin: 0px 4px;
    border-radius: 100%;
}

#banner .slick-dots .slick-active button {
    border-radius: 50px;
    width: 16px;
    background: var(--branding-success);
    transition: 0.4s ease;
}

#banner .container,
#banner .sliders,
#banner .slides,
#banner .slick-active,
#banner.slick-dots {
    overflow: visible !important;
}

#banner .offer {
    z-index: 500;
}

/* banner end */

/* featured product */
#featured_product .container {
    padding: 100px 0;
}

#featured_product .heading {
    text-align: center;
    margin-bottom: 50px;
}

#featured_product .heading h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
}

#featured_product .details h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
    margin-bottom: 0;
}

#featured_product .details b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#featured_product .details del {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-scale-gray-–-400);
}


#featured_product .details .star_icon span {
    color: #FF8A00;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#featured_product .single_product_slide {
    border: 1px solid var(--gray-scale-gray-–-100);
    padding: 12px;
    position: relative;
}

#featured_product .single_product_slide .offer {
    background: var(--branding-error);
    border-radius: 4px;
    padding: 3px 8px;
    width: 80px;
    height: 27px;
    position: absolute;
    top: 16px;
    left: 16px;
}

#featured_product .single_product_slide .offer p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}


#featured_product .single_product_slide .img {
    text-align: center;
}

#featured_product .single_product_slide .img img {
    width: 100%;
    display: block;
}

#featured_product .bag_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--gray-scale-gray-–-100);
    border-radius: 100%;
}

#featured_product .bag_cart span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#featured_product .other_icons {
    position: absolute;
    top: 16px;
    right: 16px;
    transform: translateX(-80px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

#featured_product .other_icons ul li {
    margin-bottom: 6px;
}

#featured_product .other_icons ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-–-50);
    color: #000;
}

#featured_product .other_icons ul li a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#featured_product .product_slider .single_product_slide:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    background: var(--gray-scale-white);
}

#featured_product .product_slider .single_product_slide:hover h4 {
    color: var(--branding-success-dark);
}

#featured_product .product_slider .single_product_slide:hover .bag_cart {
    background: var(--branding-success);
    color: #fff;
}

#featured_product .product_slider .single_product_slide:hover .other_icons {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

#featured_product .product_slider .single_product_slide:hover .other_icons li:nth-child(2) a {
    transition-delay: 0.3s;
}

#featured_product .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    outline: 1px solid var(--gren-gray-scale-100);
    background: var(--gray-scale-white);
}

#featured_product .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    outline: 1px solid var(--gren-gray-scale-100);
    background: var(--gray-scale-white);
}

#featured_product .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    margin-top: 20px;
}

#featured_product .slick-dots li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#featured_product .slick-dots li button {
    color: transparent;
    background: var(--gren-gray-scale-200);
    width: 10px;
    height: 10px;
    border: none;
    margin: 0px 4px;
    border-radius: 100%;
}

#featured_product .slick-dots .slick-active button {
    border-radius: 50px;
    width: 16px;
    background: var(--branding-success);
    transition: 0.4s ease;
}

/* featured product end */


/* all_products */
#all_products {
    margin-top: 100px;
}

#all_products .heading h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-gray-–-900);
}

#all_products .category_changer_btns {
    text-align: center;
}

#all_products .category_changer_btns button {
    border: none;
    background: transparent;
    border-right: 1px solid var(--gren-gray-scale-200);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    padding: 8px 12px 8px;
    line-height: 12px;
    margin-top: 24px;
}

#all_products .category_changer_btns button:last-child {
    border-right: none;
}

#all_products .category_changer_btns button:hover {
    box-shadow: 0 2px 0 0 #20b526;
    background: var(--gren-gray-scale-50);
    color: var(--branding-success);
}

#all_products .row {
    margin-top: 50px;
}


#all_products .single_product_slide {
    border: 1px solid var(--gray-scale-gray-–-100);
    padding: 12px;
    position: relative;
}

#all_products .single_product_slide .offer {
    background: var(--branding-error);
    border-radius: 4px;
    padding: 3px 8px;
    width: 80px;
    height: 27px;
    position: absolute;
    top: 16px;
    left: 16px;
}

#all_products .single_product_slide .offer p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#all_products .single_product_slide .star_icon span {
    color: #cccccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#all_products .single_product_slide .star_icon span.active {
    color: #FF8A00;
}

#all_products .single_product_slide .img {
    text-align: center;
}

#all_products .single_product_slide .img img {
    width: 100%;
    display: block;
}

#all_products .bag_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--gray-scale-gray-–-100);
    border-radius: 100%;
}

#all_products .bag_cart span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#all_products .other_icons {
    position: absolute;
    top: 16px;
    right: 16px;
    transform: translateX(-80px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

#all_products .other_icons ul li {
    margin-bottom: 6px;
}

#all_products .other_icons ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-–-50);
    color: #000;
}

#all_products .other_icons ul li a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#all_products .single_product_slide:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    background: var(--gray-scale-white);
}

#all_products .single_product_slide:hover h4 {
    color: var(--branding-success-dark);
}

#all_products .single_product_slide:hover .bag_cart {
    background: var(--branding-success);
    color: #fff;
}

#all_products .single_product_slide:hover .other_icons {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

#all_products .single_product_slide:hover .other_icons li:nth-child(2) a {
    transition-delay: 0.3s;
}

/* all products end */

/* product details */
#product_details .container {
    margin-top: 100px;
    margin-bottom: 100px;
}

#product_details .container .slider-nav {
    text-align: center;
}

#product_details .slider-nav .next {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: -50px;
}

#product_details .slider-nav .prev {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: -50px;
}

#product_details .slider-nav .img {
    padding: 5px 0;
    text-align: center;
    display: flex !important;
    justify-content: center;
}

#product_details .slider-nav .img img {
    width: 100%;
    width: 100px;
    height: 100px;
    display: block;
}

#product_details .slider-for .img {
    width: 100%;
}

#product_details .slider-nav .img img:hover {
    outline: 1px solid var(--branding-success);
}

#product_details .slider-for .img img {
    display: block;
    width: 100%;
}

#product_details .purchase_product span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#product_details .purchase_product .heading h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 0;
}

#product_details .purchase_product .heading span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--branding-success-dark);
    border-radius: 4px;
    padding: 4px 8px;
    background: rgba(32, 181, 38, 0.2);
    margin-left: 8px;
}

#product_details .review {
    margin-top: 12px;
}

#product_details .review .star_icon span {
    color: #FF8A00;
}

#product_details .review .star_icon span:last-child {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-600);
}

#product_details .review .div {
    margin-left: 31px;
}


#product_details .review .div b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-800);
}


#product_details .review .div span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-600);
}


#product_details .purchase_product .price_tag del {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-scale-gray-–-300);
}

#product_details .purchase_product .price_tag b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--branding-success-dark);
}

#product_details .review .price_tag .dollar {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--branding-success-dark);
    margin-right: 0;
}

#product_details .purchase_product .price_tag .discount {
    border-radius: 30px;
    padding: 3px 10px;
    background: rgba(234, 75, 72, 0.1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--branding-error);
    margin-left: 12px;
}

#product_details .purchase_product .price_tag {
    margin-top: 20px;
    margin-bottom: 20px;
}

#product_details .purchase_product .top_part {
    border-bottom: 1px solid var(--gray-scale-gray-–-100);
}

#product_details .purchase_product .middle_part {
    padding: 24px 0;
}

#product_details .purchase_product .middle_part .brand_img p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-top: 0;
}

#product_details .purchase_product .middle_part .social_icons p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-top: 0;
}

#product_details .purchase_product .middle_part .social_icons span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
}

#product_details .purchase_product .middle_part .social_icons span a {
    color: var(--gray-scale-gray-–-700);
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#product_details .purchase_product .middle_part .social_icons span a:hover {
    border-radius: 100%;
    background: var(--branding-success);
    color: #fff;
}

#product_details .middle_part p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    margin-top: 16px;
}

#product_details .middle_part {
    border-bottom: 1px solid var(--gray-scale-gray-–-100);
}

#product_details .third_part {
    border-bottom: 1px solid var(--gray-scale-gray-–-100);
    padding: 18px 0px;
}

#product_details .third_part .counter {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 170px;
    padding: 8px;
    background: var(--gray-scale-white);
}

#product_details .third_part .counter button {
    border: none;
    background: transparent;
    width: 34px;
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-scale-gray-–-50);
    border-radius: 100%;
}

#product_details .third_part .counter input {
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray-–-900);
    width: 60px;
    height: 34px;
}

#product_details .third_part .counter input:focus {
    outline: none;
}

#product_details .third_part .add_cart {
    border-radius: 43px;
    padding: 16px 40px;
    background: var(--branding-success);
    cursor: pointer;
}

#product_details .third_part .add_cart:hover {
    background: transparent;
    outline: 1px solid var(--branding-success);
}

#product_details .third_part .add_cart:hover a {
    color: var(--branding-success);
}

#product_details .third_part .add_cart:hover a span {
    color: var(--branding-success);
}

#product_details .third_part .add_cart a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#product_details .third_part .add_cart span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    color: #fff;
}

#product_details .third_part .favourite_icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
}

#product_details .third_part .favourite_icon {
    background: rgba(32, 181, 38, 0.1);
    border-radius: 100%;
}

#product_details .third_part .favourite_icon:hover {
    background: var(--branding-success);
    color: #fff;
}

#product_details .last_part {
    margin-top: 24px;
}

#product_details .last_part p b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#product_details .last_part p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    margin-bottom: 12px;
}

#product_details .last_part p a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    margin-left: 6px;
}

#product_details .last_part p a:hover {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--gray-scale-gray-–-900);
}

#product_details .container {
    position: relative;
}

/* #product_details .container .cross_icon{
    position: absolute;
    top: -45px;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
} */

/* produc details end */

/* counter part */

#count_time {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

#count_time .hq-countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

#count_time .hq-countdown .hq-countdown-item {
    border-radius: 6px;
    padding: 20px;
    background: var(--gray-scale-white);
    margin-left: 21px;
    position: relative;
}

#count_time .hq-countdown .hq-countdown-item::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #618062;
    right: -13px;
    top: 40%;
}

#count_time .hq-countdown .hq-countdown-item::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #618062;
    right: -13px;
    bottom: 40%;
}

#count_time .hq-countdown .hq-countdown-item:last-child:after {
    display: none;
}

#count_time .hq-countdown .hq-countdown-item:last-child::before {
    display: none;
}

#count_time .hq-number {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: var(--branding-success);
    margin-bottom: 4px;
}

#count_time .hq-label {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gren-gray-scale-500);
}

#count_time .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
}

#count_time .heading h4 {
    display: block;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--branding-success);
    margin-bottom: 12px;
}

#count_time .heading h2 {
    display: block;
    width: 40%;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
    margin-bottom: 0;
}

#count_time .shoping_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

#count_time .shoping_btn a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    border-radius: 43px;
    padding: 16px 40px;
    background: var(--branding-success);
}

#count_time .shoping_btn a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#count_time .shoping_btn a:hover {
    background: transparent;
    color: var(--branding-success);
    outline: 1px solid var(--branding-success);
}

/* counter part end */

/* service part */
#more_service {
    margin: 50px 0;
}

#more_service .service {
    padding: 40px;
    border: 1px solid var(--gray-scale-gray-–-100);
    background: var(--gray-scale-white);
    box-shadow: 0 16px 48px 0 rgba(14, 107, 21, 0.08);
    transition: 0.3s;
}

#more_service .service:first-child {
    border-radius: 8px 0 0 8px;
}

#more_service .service:last-child {
    border-radius: 0 8px 8px 0;
}

#more_service .service:hover {
    outline: 1px solid #fff;
    border-radius: 8px;
    background: var(--branding-success);

}

#more_service .service:hover a h4 {
    color: #fff;
}

#more_service .service:hover a p {
    color: #fff;
}

#more_service .service a {
    width: 100%;
    display: block;
}

#more_service .service a img {
    padding: 15px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid var(--gray-scale-gray-–-100);
}

#more_service .service h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-top: 16px;
    margin-bottom: 6px;
}

#more_service .service p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-400);
    margin-bottom: 0;
}

/* service part end */

/* review part */
#customer_review {
    background: var(--gren-gray-scale-50);
}

#customer_review .container {
    padding: 100px 0 350px;
    position: relative;
}

#customer_review .container .heading {
    margin-bottom: 43px;
}

#customer_review .container .heading h4 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
}

#customer_review .comment {
    background: var(--gray-scale-white);
    border-radius: 10px;
    text-align: center;
    padding: 32px;
    position: relative;
}

#customer_review .comment p {
    margin-top: 24px;
    margin-bottom: 0;
}

#customer_review .box {
    width: 24px;
    height: 24px;
    background: var(--gray-scale-white);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#customer_review .commenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#customer_review .commenter h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--gren-gray-scale-900);
    margin-bottom: 0;
    margin-top: 21px;
}

#customer_review .commenter span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--gren-gray-scale-500);
}

#customer_review .video {
    position: absolute;
    top: 70%;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#customer_review .video .video_player {
    display: block;
    position: relative;

}

#customer_review .humbnail {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

#customer_review .video_player .humbnail h3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-scale-white);
}

#customer_review .video_player .humbnail h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-white);
}

#customer_review .video_player .humbnail a span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-scale-white);
}

/* customer review part end */

/* footer part */

#subscribe_part {
    margin-top: 850px;
    background: var(--gren-gray-scale-50);
}

#subscribe_part .container {
    padding-top: 300px;
    position: relative;
}

#subscribe_part .subscribe {
    padding: 50px 0;

}

#subscribe_part .subscribe h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
    margin-bottom: 0;
}

#subscribe_part .subscribe p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-400);
    margin-bottom: 0;
}

#subscribe_part .subscribe .input_email {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

#subscribe_part .subscribe .input_email input {
    width: 100%;
    border: 1px solid var(--gren-gray-scale-100);
    border-radius: 46px;
    padding: 14px 28px;
    background: var(--gray-scale-white);
}

#subscribe_part .subscribe .input_email input:focus {
    outline: none;
}

#subscribe_part .subscribe .input_email button {
    border-radius: 43px;
    padding: 15px 40px;
    background: var(--branding-success);
    color: #fff;
    border: none;
    outline: none;
    position: absolute;
}

#subscribe_part .news {
    position: absolute;
    top: -90%;
}

#subscribe_part .news h4 {
    margin-bottom: 50px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
}

#subscribe_part .news .news_box {
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.1);
    background: var(--gray-scale-white);
    width: 32%;
    padding: 0;
    border-radius: 8px;

}

#subscribe_part .news .news_box img {
    display: block;
    width: 100%;
}

#subscribe_part .news .news_box .content {
    padding: 24px;
}

#subscribe_part .news .news_box .content h4 {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
    margin-bottom: 12px;
}

#subscribe_part .news .news_box .content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#subscribe_part .news .news_box .content a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--branding-success);
}

#subscribe_part .news .news_box .content a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* subscribe_part end*/

/* footer part */
#footer {
    background: var(--gren-gray-scale-900);
    position: relative;
}

#footer .left_side {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

#footer .right_side {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;

}

#footer .main_part {
    padding-top: 100px;
}

#footer .main_part .row {
    justify-content: space-between;

}

#footer .main_part .about_part {
    z-index: 1000;
}

#footer .main_part .about_part h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#footer .main_part .about_part p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#footer .main_part .about_part a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#footer .main_part .about_part a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#footer .main_part .about_part .or {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
    margin: 0 14px;
}

#footer .main_part .links_part h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#footer .main_part .links_part ul {
    padding-left: 0;
    margin-bottom: 0;
}

#footer .main_part .links_part ul li a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-400);
}

#footer .picture_part {
    z-index: 1000;
}

#footer .picture_part .images img {
    border-radius: 4px;
    width: 25%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

#footer .picture_part h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#footer .socail_media_part {
    margin-top: 100px;
    border-top: 1px solid var(--gray-scale-gray-–-700);
}

#footer .socail_media_part .row {
    padding: 24px 0;
}

#footer .social_icons {
    z-index: 1000;
}

#footer .social_icons span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 4px;
    transition: 0.3s;
}

#footer .social_icons span:hover {
    border-radius: 100%;
    background: var(--branding-success);
}

#footer .social_icons span a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

#footer .copy_write p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
    margin-bottom: 0;
    text-align: center;
}

#footer .payment_methods {
    z-index: 1000;
}

#footer .payment_methods span {
    width: 18%;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: 1px solid var(--gren-gray-scale-800);
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: 0.3s;
}

#footer .payment_methods span:hover {
    background: var(--branding-success);
}

#footer .payment_methods span a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .payment_methods span .secure_payment {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#footer .payment_methods span .secure_payment div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .payment_methods span .secure_payment div span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: var(--gray-scale-white);
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

#footer .payment_methods span .secure_payment p {
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: var(--gray-scale-white);
    margin-bottom: 0;
}

/* footer part end */
#description {
    margin-bottom: 30px;
}

#description ul li {
    margin-bottom: 12px;
}

#description .first_list li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#description .second_list li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-600);
}

#description .second_list li a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-600);
}

#description .second_list li a:hover {
    text-decoration: underline;
}

#description .description_video img {
    width: 100%;
}

#description .description_video {
    position: relative;
}

#description .description_video span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 49px;
    height: 49px;
    background: var(--branding-success);
    border-radius: 100%;
    color: #fff;
}

#description .more {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 6px;
    padding: 24px 20px;
    margin-top: 24px;
}

#description .more span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--branding-success);
}

#description .more h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 6px;
}

#description .more p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    margin-bottom: 0;
}

#description .nav {
    text-align: center;
    justify-content: center;
    margin-bottom: 32px;
}

#description .nav li button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 10px 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    height: 100%;
}

#description .nav li button.active {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    position: relative;
}

#description .nav li button.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--branding-success);
    height: 1px;
    width: 100%;

}

#description .nav li {
    margin-bottom: 0;
}


#description p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
    margin-bottom: 0;
}

#description p span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--branding-success);
    margin-right: 5px;
}

#description .describe p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

/* description part end */

#shopping_cart {
    margin: 100px 0;
}

#shopping_cart .top_part {
    padding: 20px;
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 8px;
}

#shopping_cart th {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray-scale-gray-–-500);
}

#shopping_cart h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 0;
}

#shopping_cart article div {
    display: flex;
    align-items: center;
}

#shopping_cart td span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#shopping_cart td .counter {
    display: flex;
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 170px;
    padding: 8px;
    background: var(--gray-scale-white);
    height: 55px;
    width: 80%;
}

#shopping_cart td .counter button {
    border: none;
    background: #666666;
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-scale-gray-–-50);
    border-radius: 100%;
}


#shopping_cart td .counter input {
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray-–-900);
    width: 60%;
    height: 100%;
}

#shopping_cart tr {
    border-bottom: 1px solid var(--gray-scale-gray-–-300);
    padding: 16px 20px;

}

#shopping_cart thead tr th {

    padding: 16px 0px !important;
}

#shopping_cart .process .row {
    padding: 16px 20px;
}

#shopping_cart .process .row div {
    padding: 14px 32px;
    width: auto;
    background: var(--gray-scale-gray-–-50);
    border-radius: 43px;

}

#shopping_cart .process div a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-700);
    width: 100%;
    height: 100%;
    display: block;

}

#shopping_cart .coupon_code {
    padding: 20px;
    margin-top: 24px;
    position: relative;
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 8px;
}

#shopping_cart .coupon_code h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#shopping_cart .coupon_code input {
    border: none;
    outline: none;
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 46px;
    padding: 14px 24px;
    width: 100%;
}

#shopping_cart .coupon_code input:focus {
    outline: none;
}

#shopping_cart .coupon_code button {
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray-scale-white);
    border-radius: 43px;
    padding: 16px 40px;
    background: var(--gray-scale-gray-–-800);
    position: absolute;
    right: 0;
}

#shopping_cart .subtotal_part {
    border: 1px solid var(--gray-scale-gray-–-100);
    padding: 20px;
}

#shopping_cart .subtotal_part h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#shopping_cart .subtotal_part div {
    padding: 12px 0;
    border-bottom: 1px solid var(--gray-scale-gray-–-100);
}

#shopping_cart .subtotal_part div:nth-child(4) {
    border: none;
}

#shopping_cart .subtotal_part p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
    margin-bottom: 0;
}

#shopping_cart .subtotal_part span {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#shopping_cart .subtotal_part button {
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    border-radius: 43px;
    padding: 16px 40px;
    background: var(--branding-success);
    margin-top: 20px;
}

/* shopping cart end */

/* billing information */

#billing_information{
    margin-top: 32px;
    margin-bottom: 80px;
}

#billing_information .billiing_table table th {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    padding: 10px;
}

#billing_information .billiing_table table tr td {
    padding: 10px;
}

#billing_information .billiing_table table tr td h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}


#billing_information .billiing_table table tr td input {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 6px;
    padding: 14px 16px;
    width: auto;
    outline: none;


}

#billing_information .billiing_table table tr td input:focus {
    outline: none;
}

#billing_information .billiing_table table .street input {
    width: 100%;
}

#billing_information .billiing_table table select {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 6px;
    padding: 14px;
    outline: none;
    width: 100%;
}

#billing_information .billiing_table table tr td .parent div {
    width: 100%;
}

#billing_information .billiing_table table tr td .parent div:first-child {
    margin-right: 10px;
}

#billing_information .billiing_table table tr td .parent input {
    width: 100%;
}

#billing_information .billiing_table table tr td span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
}

#billing_information .billiing_table table tr:last-child {
    border-bottom: 1px solid var(--gray-scale-gray-–-300);
    margin-bottom: 20px;
}

#billing_information .billiing_table .additional_info {
    margin-top: 20px;
}

#billing_information .billiing_table .additional_info h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 20px;
}

#billing_information .billiing_table .additional_info h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#billing_information .billiing_table .additional_info textarea {
    width: 100%;
    outline: none;
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 6px;
    padding: 14px 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--gray-scale-gray-–-400);
}

#billing_information .order_summery {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 8px;
    padding: 24px;

}

#billing_information .order_summery .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#billing_information .order_summery span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#billing_information .order_summery h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#billing_information .order_summery .items h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 0;
}

#billing_information .order_summery .items span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#billing_information .total_amount {
    border-bottom: 1px solid var(--gray-scale-gray-–-100);
    padding: 12px 0px;
}

#billing_information .total_amount span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#billing_information .total_amount:last-child span {
    font-family: var(--font-family);
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
}

#billing_information .total_amount p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
    margin-bottom: 0;
}

#billing_information .paying_method {
    margin-top: 24px;
}

#billing_information .paying_method h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#billing_information .paying_method p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
    margin-bottom: 10px;
}

#billing_information .order_summery button {
    border-radius: 43px;
    padding: 16px 40px;
    background: var(--branding-success);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    width: 100%;
    border: none;
    outline: none;
    margin-top: 24px;
}
#billing_information .order_summery button:hover{
    background: transparent;
    outline: 1px solid var(--branding-success);
    color: var(--branding-success);
}
